.config/levelmeup
.config/Mousepad/
.config/Thunar/
.config/abiword/
.config/dconf/
.config/enchant/
.config/gmusicbrowser/
.config/pulse/
.config/software-center/
.config/update-notifier/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/chromium/
.config/configstore/
.config/Trolltech.conf
.config/autostart/
.config/font-manager/
.config/fontconfig/
.config/fontgroups.xml
.config/gtk-2.0/
.config/transmission/
.config/vlc/
.config/expressworks/
.config/introtowebgl/
.config/nvim/
.config/.nvim-data
